:root {
  --dark-mode-elements: hsl(209, 23%, 22%);
  --dark-mode-bg: hsl(207, 26%, 17%);
}

* {
  box-sizing: border-box;
}

.App {
  font-family: "Poppins" sans-serif;
  font-family: "Nunito Sans", sans-serif;
}

.App.darkMode {
  background-color: var(--dark-mode-bg);
}

.navbar {
  background-color: white;
  padding: 0.2rem 4.5rem;
  box-shadow: 0px 1px 1px rgba(62, 58, 90, 0.25);
  display: flex;
  justify-content: space-between;
}

.navbar.darkMode {
  background-color: var(--dark-mode-elements);
  color: #fff;
}

h4 {
  font-weight: 800;
}

.dark-mode-container {
  margin: auto 0;
}

.body--container {
  margin: 0 3rem;
}

.search-input--container {
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
}

.input {
  border: none;
  width: 350px;
  padding: 15px;
  border-radius: 5px;
  background-color: transparent;
  box-shadow: 0px 3px 3px rgba(166, 163, 163, 0.25);
}

.input.darkMode {
  color: #fff;
}

.select {
  border: none;
  width: 200px;
  padding: 12px;
  margin-top: 5px;
  border-radius: 5px;
  background-color: transparent;
  box-shadow: 0px 3px 3px rgba(166, 163, 163, 0.25);
}

.select.darkMode {
  color: #fff;
}

.card {
  margin: 10px 0;
  margin-right: 4px;
  box-shadow: 0px 5px 5px rgba(166, 163, 163, 0.25);
}

.container {
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
  margin: auto;
}

.image--container {
  height: 200px;
}

.card--image {
  object-fit: cover;
  height: 200px;
  width: 300px;
  border-radius: 10px 10px 0 0;
}

.text-container {
  background-color: rgb(252, 252, 252);
  padding: 0.5rem 1.7rem;
  width: 300px;
}

.text-container.darkMode {
  background-color: var(--dark-mode-elements);
  color: #fff;
}

.bold {
  font-weight: 600;
}

/* country details css */

.country_details {
  margin: 15px auto 0;
  padding: 15px;
  max-width: 1400px;
  min-height: 100vh;
}

.back {
  background-color: white;
  border: 0;
  outline: 0;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 25px;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

.country_details_body {
  margin: 15px auto 0;
  padding: 15px;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.img_container {
  flex: 0.5;
}

.img_container img {
  width: 100%;
  object-fit: cover;
}

.info {
  flex: 0.5;
}

.info_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
}

.info h2 {
  margin-bottom: 15px;
}

.info .values {
  color: gray;
}

.border_country {
  padding: 10px;
  background-color: white;
  display: inline-block;
  margin: 10px;
  cursor: pointer;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

/* end of country details css */

@media only screen and (min-width: 800px) {
  .search-input--container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 20px;
  }

  input {
    width: 400px;
  }

  .navbar {
    font-weight: 800;
    font-size: larger;
  }
} ;
