:root {
  --dark-mode-elements: hsl(209, 23%, 22%);
  --dark-mode-bg: hsl(207, 26%, 17%);
}

* {
  box-sizing: border-box;
}

.App {
  font-family: "Poppins" sans-serif;
  font-family: "Nunito Sans", sans-serif;
}

.App.darkMode {
  background-color: var(--dark-mode-bg);
}

.navbar {
  background-color: white;
  padding: 0.2rem 4.5rem;
  box-shadow: 0px 1px 1px rgba(62, 58, 90, 0.25);

  display: flex;
  justify-content: space-between;
}

.navbar.darkMode {
  background-color: var(--dark-mode-elements);
  color: #fff;
}

h4 {
  font-weight: 800;
}

.background-mode--container {
  display: flex;
  margin: auto 0;
}

.light-mode {
  margin: 0 1.5rem;
  border: none;
}

.body--container {
  margin: 0 3rem;
}

.search-input--container {
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
}

.input {
  border: none;
  width: 200px;
  padding: 15px;
  border-radius: 5px;
  background-color: transparent;
  box-shadow: 0px 3px 3px rgba(166, 163, 163, 0.25);
}

.input.darkMode {
  color: #fff;
}

.select {
  border: none;
  width: 200px;
  padding: 12px;
  margin-top: 5px;
  border-radius: 5px;
  background-color: transparent;
  box-shadow: 0px 3px 3px rgba(166, 163, 163, 0.25);
}

.select.darkMode {
  color: #fff;
}

.card {
  margin: 10px 0;
  margin-right: 4px;
  box-shadow: 0px 5px 5px rgba(166, 163, 163, 0.25);
}

.container {
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
  margin: auto;
}

.image--container {
  height: 200px;
}

.card--image {
  object-fit: cover;
  height: 200px;
  width: 300px;
  border-radius: 10px 10px 0 0;
}

.text-container {
  background-color: rgb(252, 252, 252);
  padding: 0.5rem 1.7rem;
  width: 300px;
}

.text-container.darkMode {
  background-color: var(--dark-mode-elements);
  color: #fff;
}

.bold {
  font-weight: 600;
}

@media only screen and (min-width: 800px) {
  .search-input--container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 20px;
  }

  input {
    width: 400px;
  }

  .navbar {
    font-weight: 800;
    font-size: larger;
  }
} ;
